[submodule "src/pacm"]
	path = src/pacm
	url = https://github.com/nilstate/pacm.git
	branch = main
[submodule "src/graft"]
	path = src/graft
	url = https://github.com/nilstate/graft.git
	branch = main
