body {
    background: #f2f2f2;
    font: 14px/1.3 Helvetica, Arial, sans-serif;
}
#page {
    background: white;
    text-align: center;
    width: 60%;   
    margin: 20px auto;
    padding: 25px;
    box-shadow: 2px 2px 18px rgba(0,0,0,0.4)
}
#page > div {
    margin-bottom: 40px;
}
.symple-player {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    box-shadow: 2px 2px 18px rgba(0,0,0,0.4)
}
.audio-player .symple-player {
    width: 400px;
    height: 100px;
    margin: 20px auto;
    border: 1px solid red;
    box-shadow: 2px 2px 18px rgba(0,0,0,0.4)
}
#notes p {}
#debug-log {
    display: none;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #eee;
    text-align: left;
    font-size: 11px;
}