#webrtc-video {
    text-align: center;
}

#webrtc-video h1 {
    margin: 40px 0 20px;
}

#webrtc-video .video-player {
    width: 640px;
    height: 480px;
    margin: 0 auto;
}

#webrtc-video .symple-player {
    height: 480px;
}
