.str {
	COLOR: #080
}
.kwd {
	COLOR: #008
}
.com {
	COLOR: #800
}
.typ {
	COLOR: #606
}
.lit {
	COLOR: #066
}
.pun {
	COLOR: #660
}
.pln {
	COLOR: #000
}
.tag {
	COLOR: #008
}
.atn {
	COLOR: #606
}
.atv {
	COLOR: #080
}
.dec {
	COLOR: #606
}
PRE.prettyprint {
	BORDER-BOTTOM: #888 1px solid; BORDER-LEFT: #888 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #888 1px solid; BORDER-RIGHT: #888 1px solid; PADDING-TOP: 2px
}

@media Print    
{
.str {
	COLOR: #060
}
.kwd {
	COLOR: #006; FONT-WEIGHT: bold
}
.com {
	FONT-STYLE: italic; COLOR: #600
}
.typ {
	COLOR: #404; FONT-WEIGHT: bold
}
.lit {
	COLOR: #044
}
.pun {
	COLOR: #440
}
.pln {
	COLOR: #000
}
.tag {
	COLOR: #006; FONT-WEIGHT: bold
}
.atn {
	COLOR: #404
}
.atv {
	COLOR: #060
}

}
