pkgbase = icey
	pkgdesc = C++20 media stack and libwebrtc alternative for real-time video, signalling, TURN, and media servers
	pkgver = 2.4.11
	pkgrel = 1
	url = https://0state.com/icey/
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = cmake
	makedepends = pkgconf
	depends = ffmpeg
	depends = libdatachannel
	depends = libuv
	depends = llhttp
	depends = minizip
	depends = openssl
	depends = zlib
	source = icey-2.4.11.tar.gz::https://github.com/nilstate/icey/archive/refs/tags/2.4.11.tar.gz
	sha256sums = 65a32554a871671db7ff0e4075b50a9f3a899964f25e47b8eb564e1f76b0ce75

pkgname = icey
