body > .container {
    padding-top: 30px;
}

#webrtc-video .video-player {
    margin-bottom: 1rem;
}

#webrtc-video .symple-player {
    min-height: 480px;
}

/*This is hardcoded value for video of 640x480, TODO: make it generic*/
#detectionCanvas {
    position:absolute;
    z-index: 1;
    margin-left:-240px;
}
