.book .book-summary ul.summary li b {
    display: none;
}
.book .book-summary ul.summary li.done > a i {
    display: none;
}

.markdown-section h1,
.markdown-section h2 {
  border-bottom: 1px solid #eee;
}

.markdown-section ol ol,
.markdown-section ol ul,
.markdown-section ul ol,
.markdown-section ul ul {
  margin-bottom: .85em;
}
